{% extends "base.html" %}



{% block cabezera %} Listar Movimientos {% endblock %}



{% block contenido %}

	
	<ul data-role="listview">
	{% for t in Tipos %}
		<li data-role="list-divider"><center>{{t.nombreTipo}}</center></li>
		<li>

		    <fieldset class="ui-grid-a">
		        <div class="ui-block-a">

		               <a href="EditarTipo/{{t.id}}" data-role="button" data-icon="plus">Editar/Ver</a>
		        </div>

		        <div class="ui-block-b">

		           
		               <a href="BorrarTipo/{{t.id}}" data-role="button" data-icon="minus">Borrar</a>
		            

		        </div>     
		    </fieldset>

		</li>
	{% endfor %}
	</ul>
{% endblock %}