{% extends "base.html" %}



{% block cabezera %} Listar Movimientos {% endblock %}


	
{% block contenido %}

	
	<ul data-role="listview">
	{% for m in movimientos %}
		<li data-role="list-divider"><center>{{m.Tipo}} | {{m.fecha}} | {{m.valor}}</center></li>
		<li>

		    <fieldset class="ui-grid-a">
		        <div class="ui-block-a">

		               <a href="EditarMovimiento/{{m.id}}" data-role="button" data-icon="plus">Editar/Ver</a>
		        </div>

		        <div class="ui-block-b">

		           
		               <a href="BorrarMovimiento/{{m.id}}" data-role="button" data-icon="minus">Borrar</a>
		            

		        </div>     
		    </fieldset>

		</li>
	{% endfor %}
	</ul>
{% endblock %}